<h1>Export Format - Learn sprout</h1>
<br><br>
<p style="padding:20px;">
	<a href="/tasks/cleandb">Clean DB</a> || <a href="/tasks/makedata">Make Data temp</a> || <a href="/tasks/export_schools.csv?format=csv">Export School</a> || <a href="/tasks/export_teachers.csv?format=csv">Export Teacher</a> || <a href="/tasks/export_students.csv?format=csv">Export Student</a> || <a href="/tasks/export_courses.csv?format=csv">Export Course</a> || <a href="/tasks/export_rosters.csv?format=csv">Export Roster</a>
</p>