<h1>Export Format - Learn sprout</h1>
<br><br>
<p style="padding:20px;">
	<a href="/tasks/cleandb">Clean DB</a> || <a href="/tasks/makedata">Make Data temp</a> || <a href="/tasks/school_csv?format=csv">Export School (CSV Format)</a> || <a href="/tasks/teacher_csv?format=csv">Export Teacher (CSV Format)</a> || <a href="/tasks/student_csv?format=csv">Export Student (CSV Format)</a>
</p>